/.DomainmodelRuntimeModule.java._trace
/.DomainmodelStandaloneSetup.java._trace
/.DomainmodelRuntimeModule.xtendbin
/.DomainmodelStandaloneSetup.xtendbin
/DomainmodelRuntimeModule.java
/DomainmodelStandaloneSetup.java
